export JSFT_APP_NAME='JSFT PK10 Shadow'
export JSFT_HOST='127.0.0.1'
export JSFT_PORT='18084'
export JSFT_DB_HOST='127.0.0.1'
export JSFT_DB_PORT='3307'
export JSFT_DB_USER='root'
export JSFT_DB_PASS='change-me'
export JSFT_DB_NAME='xyft_lottery_data'
export JSFT_DB_TABLE='jsft_pks_history'
export JSFT_HISTORY_API_URL='https://www.1682010.co/api/pks/getPksHistoryList.do'
export JSFT_LOT_CODE='10035'
export JSFT_EXPECTED_ISSUES_PER_DAY='1152'
export JSFT_CORE_SUM_VALUE='12'
export JSFT_CORE_CAP='15'
export JSFT_REPLAY_HISTORY_START='2020-01-01'
export JSFT_REPLAY_START_DATE='2026-01-01'
export JSFT_BANKROLL_START='1000'
export JSFT_BASE_STAKE='10'
export JSFT_SUM12_NET_ODDS='10'
export JSFT_DAILY_GATE='g13_26_pos'
export JSFT_ACCOUNT_CACHE_SECONDS='300'
export JSFT_TIMEZONE='Asia/Shanghai'
export JSFT_SHADOW_API_TOKEN=''
export JSFT_CURRENT_FROZEN_WINDOW_ID='jsft_sum12_cap15__gate_g13_26_pos__daily85'
