export PK10_APP_NAME='PK10 Live Dashboard'
export PK10_APP_ENV='production'
export PK10_HOST='127.0.0.1'
export PK10_PORT='18080'
export PK10_DB_HOST='127.0.0.1'
export PK10_DB_PORT='3307'
export PK10_DB_USER='root'
export PK10_DB_PASS='123456'
export PK10_DB_NAME='xyft_lottery_data'
export PK10_DB_TABLE='pks_history'
export PK10_POLL_SECONDS='5'
export PK10_START_DATE='2025-01-01'
export PK10_BANKROLL_START='1000'
export PK10_BASE_STAKE='10'
export PK10_MAX_MULTIPLIER='5'
export PK10_BLACKOUT_START='06:00:00'
export PK10_BLACKOUT_END='07:00:00'
export PK10_FACE_POLICY_ID='core40_spread_only__exp0_off__oe40_spread_only__cd2'
export PK10_SUM_CANDIDATE_ID='intraday_1037'
export PK10_EXACT_BASE_GATE_ID='late|big|edge_low|same_top1_prev=all'
export PK10_EXACT_OBS_WINDOW='192'
export PK10_EXACT_EXECUTION_RULE='front_pair_major_consensus_only'
export PK10_EXACT_NET_WIN='8.9'
